{% if RoleID == '2' or RoleID == '3' or RoleID == '0' %}
{% extends 'base.html' %}

{% block title %}Add Evidence{% endblock %}

{% block content %}
<div class="row main_content">
    <div class="column large-6">
    <form action="upload_{{caseID}}" method="post" enctype = "multipart/form-data">
        <div>
            <label class='subhead' for="caseID">Case ID:</label>
            <input class="h-full-width" type="text" value="{{ caseID }}" id="caseID" name="caseID" required disabled>
        </div>
        <div>
            <label for="file">Evidence File</label>
            <input class='subhead' for="file" type = "file" name = "file" id="file" required>
        </div>
        {% if mes %}
        <div class="alert-box alert-box--success hideit">
            <p>{{ mes }}</p>
            <i class="fa fa-times alert-box__close" aria-hidden="true"></i>
        </div><!-- end success -->
        {% endif %}
        {% if msg %}
        <div class="alert-box alert-box--error hideit">
            <p>{{ msg }}</p>
            <i class="fa fa-times alert-box__close" aria-hidden="true"></i>
        </div>
        {% endif %}
        <input class="btn--primary h-full-width" type="submit" value="Upload">
    </form>
    </div>
</div>
{% endblock %}
{% endif %}
