{% if RoleID == '2' or RoleID == '3' %}
{% extends 'base.html' %}

{% block title %}Add Case{% endblock %}


{% block content %}
<div class="row main_content">
    <div class="column large-6">
    <form action="{{ url_for('add_case') }}" method="post">
        <div>
            <label class='subhead' for="sampleInput">Case Name</label>
            <input class="h-full-width" type="text" placeholder="Case Name" id="name" name='name' required>
        </div>
        <div>
            <label for="status">Investigation Status</label>
            <div class="ss-custom-select">
                <select class="h-full-width" id="status" name="status">
                    <option value="open">Open</option>
                    <option value="closed">Closed</option>
                </select>
            </div>
        </div>
        {% if mes %}
        <div class="alert-box alert-box--success hideit">
            <p>{{ mes }}</p>
            <i class="fa fa-times alert-box__close" aria-hidden="true"></i>
        </div><!-- end success -->
        {% endif %}
        {% if msg %}
        <div class="alert-box alert-box--error hideit">
            <p>{{ msg }}</p>
            <i class="fa fa-times alert-box__close" aria-hidden="true"></i>
        </div>
        {% endif %}
        <input class="btn--primary h-full-width" type="submit" value="Create Case">
    </form>
    </div>
</div>
{% endblock %}
{% endif %}