{% if RoleID == '0' or RoleID == '1' or RoleID == '2' or RoleID == '3' %}
<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>

        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="A web based Decentralized Digital evidence Preservation System">
        <meta name="author" content="Group 44">

        <!-- mobile specific metas
        ================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="static/css/base.css">
        <link rel="stylesheet" href="static/css/main.css">
        <link rel="stylesheet" href="static/css/vendor.css">
        <link rel="icon" href="static/images/logo.svg" type="image/icon type">

        <!-- script
        ================================================== -->
        <script src="static/js/modernizr.js"></script>

        

    </head>

    <body id="top">


        <!-- preloader
        ================================================== -->
        <div id="preloader">
            <div id="loader" class="dots-fade">
                <div></div>
            </div>
        </div>


        <!-- header
        ================================================== -->
        <header class="s-header">

            <div class="header-logo">
                <a href="{{ url_for('index') }}">
                    <img src="static/images/logo.svg" alt="Homepage">
                </a>
            </div>

            <div class="header-content">
        
                <nav class="row header-nav-wrap">
                    {% if RoleID == '2' or RoleID == '3' %}
                    <ul class="header-nav">
                        <li><a href="{{ url_for('cases') }}" title="cases">Cases</a></li>
                        <li><a href="{{ url_for('evidence') }}" title="evidence">Evidence</a></li>
                        <li><a href="{{ url_for('reports') }}" title="reports">Reports</a></li>
                        <li><a href="{{ url_for('users') }}" title="user">Users</a></li>
                        <li><a href="{{ url_for('add_case') }}" title="add case">Add Case</a></li>
                        <li><a href="{{ url_for('register') }}" title="register">Register User</a></li>
                        <li><a href="{{ url_for('logs') }}" title="logs">Logs</a></li>
                        <li><a href="{{ url_for('logout') }}" title="logout">Logout</a></li>
                    </ul>
                    {% endif %}
                    {% if RoleID == '0' %}
                    <ul class="header-nav">
                        <li><a href="{{ url_for('cases') }}" title="cases">Cases</a></li>
                        <li><a href="{{ url_for('users') }}" title="user">Account</a></li>
                        <li><a href="{{ url_for('logout') }}" title="logout">Logout</a></li>
                    </ul>
                    {% endif %}
                    {% if RoleID == '1' %}
                    <ul class="header-nav">
                        <li><a href="{{ url_for('cases') }}" title="cases">Cases</a></li>
                        <li><a href="{{ url_for('users') }}" title="user">Account</a></li>
                        <li><a href="{{ url_for('logout') }}" title="logout">Logout</a></li>
                    </ul>
                    {% endif %}
                    
                </nav> <!-- end header-nav-wrap -->

            </div> <!-- end header-content -->


        </header> 

        <!-- Content
        ================================================== -->
        <div class="s-footer h-dark-bg">

            {% block content %}{% endblock %}
            

            <div class="row s-footer__bottom">
                <div class="column large-full ss-copyright">
                    <span>© Copyright DDEPS 2022</span>
                    <span>Designed by Group 44</a></span>
                </div> <!-- end ss-copyright -->
            </div> <!-- end s-footer__bottom -->

        </div> <!-- end s-footer -->

        <!-- Java Script
        ================================================== -->
        <script src="static/js/jquery-3.2.1.min.js"></script>
        <script src="static/js/plugins.js"></script>
        <script src="static/js/main.js"></script>

    </body>
</html>
{% endif %}