{% extends 'base.html' %}

{% block title %}Reports{% endblock %}


{% block content %}
<div class="row main_content">
    <div class="table-responsive">
        <table>
                <thead>
                <tr>
                    <th>Report ID</th>
                    <th>Case ID</th>
                    <th>Evidence ID</th>
                    <th>User ID</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for (reportID, caseID, evidenceID, userID, data) in cursor %}
                <tr>
                    <td>{{ reportID }}</td>
                    <td>{{ caseID }}</td>
                    <td>{{ evidenceID }}</td>
                    <td>{{ userID }}</td>
                    <td>
                        <a class="btn btn--primary half-bottom" href="{{ url_for('view_report', reportID=reportID) }}">View</a>
                        {% if RoleID == '2' or RoleID == '3' or RoleID == '1' %}
                        <a class="btn btn--stroke half-bottom" href="{{ url_for('del_report', reportID=reportID) }}" onclick="return confirm('Are you sure you want to delete this entry?')">Delete</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
        </table>
    </div>
</div>

{% endblock %}
