{% extends 'base.html' %}

{% block title %}Edit Case{% endblock %}


{% block content %}
<div class="row main_content">
    <div class="column large-6">
        {% for (caseID, name, status, datecreated) in cursor2 %}
    <form action="{{ url_for('edit', caseID=caseID) }}" method="post">
        
        <div>
            <label class='subhead' for="sampleInput">Case Name</label>
            <input class="h-full-width" type="text" value="{{ name }}" id="name" name='name' required>
        </div>
        <div>
            <label for="status">Investigation Status</label>
            <div class="ss-custom-select">
                <select class="h-full-width" id="status" name="status" value="{{ status }}">
                    {% if status=='open' or status=='Open' %}
                    <option value="open">Open</option>
                    <option value="closed">Closed</option>
                    {% endif %}
                    {% if status=='closed' or status=='Closed' %}
                    <option value="closed" default>Closed</option>
                    <option value="open">Open</option>
                    {% endif %}
                </select>
            </div>
        </div>
        {% endfor %}
        {% if mes %}
        <div class="alert-box alert-box--success hideit">
            <p>{{ mes }}</p>
            <i class="fa fa-times alert-box__close" aria-hidden="true"></i>
        </div><!-- end success -->
        {% endif %}
        {% if msg %}
        <div class="alert-box alert-box--error hideit">
            <p>{{ msg }}</p>
            <i class="fa fa-times alert-box__close" aria-hidden="true"></i>
        </div>
        {% endif %}
        <input class="btn--primary h-full-width" type="submit" value="Submit Changes">
    </form>
    </div>
</div>
{% endblock %}