{% extends 'base.html' %}

{% block title %}Evidence{% endblock %}


{% block content %}

    <div class="table-responsive">
        <table>
                <thead>
                <tr>
                    {% if RoleID == '2' or RoleID == '3' %}
                    <th>Case ID</th>
                    <th>Evidence ID</th>
                    {% endif %}
                    <th>File Name</th>
                    <th>Hash</th>
                    <th>Timestamp</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for (evidenceID, caseID, filename, hash, time) in cursor %}
                <tr>
                    {% if RoleID == '2' or RoleID == '3' %}
                    <td>{{ caseID }}</td>
                    <td>{{ evidenceID }}</td>
                    {% endif %}
                    <td>{{ filename }}</td>
                    <td>{{ hash }}</td>
                    <td>{{ time }}</a></td>
                    <td>
                        <a class="btn btn--primary half-bottom" href="{{ url_for('download', hash=hash) }}">Download</a>
                        {% if RoleID == '2' or RoleID == '1' or RoleID == '3' %}
                        <a class="btn half-bottom" href="report_{{ evidenceID }}">Report</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
        </table>
    </div>


{% endblock %}
