{% extends 'base.html' %}

{% block title %}View Report{% endblock %}


{% block content %}

{% for (evidenceID, caseID, filename, hash, timestamp) in cursor %}
<div class="row main_content">
    <div class="column large-6">
        <div class="section-intro" data-aos="fade-up">
            <h3 class="display-1">Case ID: {{ caseID }}</h3>

            <h2 class="subhead">
                Evidence ID: {{ evidenceID }}
            </h2>
            <h2 class="subhead">
                Filename: {{ filename }}
            </h2>
            <h2 class="subhead">
                Hash: {{ hash }}
            </h2>
            <h2 class="subhead">
                Timestamp: {{ timestamp }}
            </h2>
        </div>
    </div>
{% endfor %}
    <div class="column large-6">
        <div class="footer-contacts">
            <div class="footer-contact-block" data-aos="fade-up">
                <h5 class="footer-contact-block__header">
                    Evidence report
                </h5>
                <p class="footer-contact-block__content">

                    <form action="{{ url_for('update_report', reportID=reportID, data=data) }}" method="post" autocomplete="off">
                        
                        <div hidden>
                            <input class="h-full-width" type="number"  value="{{ reportID }}" id="reportID" name='reportID'>
                            <input class="h-full-width" type="number"  value="{{ caseID }}" id="caseID" name='caseID'>
                            <input class="h-full-width" type="number"  id="evidenceID" name='evidenceID' value="{{ evidenceID }}">
                            <input class="h-full-width" type="number"  id="userID" name='userID' value="{{ userID }}">
                        </div>
                        <div>
                            <textarea class="h-full-width" id="data" name='data' id="datax" contenteditable="True" disabled>{{ data }}</textarea>
                        </div>
                        
                    
                        {% if mes %}
                        <div class="alert-box alert-box--success hideit">
                            <p>{{ mes }}</p>
                            <i class="fa fa-times alert-box__close" aria-hidden="true"></i>
                        </div><!-- end success -->
                        {% endif %}
                        {% if msg %}
                        <div class="alert-box alert-box--error hideit">
                            <p>{{ msg }}</p>
                            <i class="fa fa-times alert-box__close" aria-hidden="true"></i>
                        </div>
                        {% endif %}
                        <!-- <input class="btn--primary h-full-width" type="submit" value="Edit"> -->
                    </form>
                    
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
